<!DOCTYPE html>

  <html lang="en" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="My Project">
    <meta name="author" content="S. Mincheva">

    <title>My Project</title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <!-- FONTAWESOME STYLE CSS -->
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <!--ANIMATED FONTAWESOME STYLE CSS -->
    <link rel="stylesheet" href="/css/font-awesome-animation.css"/>
    <!-- CUSTOM STYLE CSS -->
    <link rel="stylesheet" href="/css/style.css"/>
    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Open+Sans' type='text/css'>
    </head>
  <body>
  <header>
  <!-- NAV SECTION -->
  <div class="navbar navbar-inverse navbar-fixed-top">

    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a  class="navbar-brand" th:href="@{/}">
          <strong><span>STELA</span>TOURS</strong>
        </a>

      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a th:href="@{/home}">HOME</a></li>
          <li><a th:href="@{/about}">ABOUT US</a></li>
          <li><a th:href="@{/destinations}">DESTINATIONS</a></li>
          <li><a th:href="@{/contacts}">CONTACT</a></li>
          <li class="dropdown" sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              ADMIN PROFILE
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu">
                <a tabindex="-1" th:href="@{/}" class="dropdown-submenu-toggle">Add new Destinations<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a th:href="@{/destination-add}">Destination</a></li>
                  <li><a th:href="@{/seasonal-destination-add}">Seasonal Destination</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a tabindex="-1" th:href="@{/}" class="dropdown-submenu-toggle">Add new Offers<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a th:href="@{/offer-add}">Offer</a></li>
                  <li><a th:href="@{/special-offer-add}">Special Offer</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li sec:authorize="!isAuthenticated()"><a th:href="@{/register}">REGISTER</a></li>
          <li sec:authorize="isAuthenticated()"><a th:href="@{/profile}">MY PROFILE</a></li>
          <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">LOGIN</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!--END NAV SECTION -->
  </header>

  <footer>
    <div id="footer">
      © 2023 Copyright: Stela Mincheva
    </div>
    <!-- END FOOTER SECTION -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="/plugins/bootstrap.min.js"></script>
    <!-- PRETTY PHOTO SCRIPT   -->
    <script src="/plugins/jquery.prettyPhoto.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="/js/custom.js"></script>
    <script src="/js/navbar-dropdown.js"></script>
    <script src="/js/file-upload.js"></script>
    <script scr="/js/delete-destination.js"></script>
    <script scr="/js/delete-seasonal-destination.js"></script>
  </footer>

  </body>
</html>