
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */


/*=======================================
    GENERAL STYLES
==================================================*/

body {
          font-family:'Open Sans', sans-serif;
    font-size:14px;
   
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Open Sans', sans-serif;
}


.text-center {
    text-align:center;
}

h2 {
    line-height:50px;
    color:#E91C1C;
}
h3 {
    line-height:30px;

}
h4 {

line-height: 40px;
padding-bottom: 0px;
}

p {
    font-weight:300;
    line-height:30px;
    padding-bottom:15px;
}


.space-free {
    height:100px;
}

section {
    padding-top:50px;
    margin-top:50px;
}
.g-pad-bottom {
    padding-bottom:30px;
}

.label-danger {
font-size: 18px;
}
/*=======================================
    HOME SECTION STYLES
==================================================*/

.go-marg {
    margin-top:40px;
}

#home-sec {
background: url(../images/2.jpg) no-repeat 50% 50%;
    filter: brightness(80%);
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
display: block;
height: auto;
 padding-top:190px;
   min-height:650px;
    color:#fff;
}

.head-main {
    font-size:42px;
    color: lightyellow;
    font-weight:900;
    padding:15px;
    text-transform:uppercase;
    
}

.head-last {
    margin-top:26px;
    font-size:22px ;
    font-weight:900;
    color: lightgoldenrodyellow;
}

.link-dark {
    font-size: 20px;
}


/* ===========================================================
   NAVBAR CHANGES   
   ============================================================*/
.navbar {
	font-size: 18px;
}

.navbar-inverse {
background: lightyellow;
min-height: 60px;
padding-top: 5px;

}

.navbar-inverse .navbar-nav > .active > a {
	background: lightyellow;
}

.navbar-inverse .navbar-brand {
	color: #000;
	font-size: 24px;
    font-weight:bold;
	letter-spacing: 2px;
}

.navbar-brand span {
    color: #46b8da;
    font-size: 28px;
}
.navbar-inverse :hover .navbar-brand:hover {
	color: #000;	
}
.navbar-inverse .navbar-nav > li > a {
color: #000;
}
.navbar-inverse {
border-color: #D6D6D6;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border-color: #000;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: #000;
}
.navbar-toggle {
    background-color: black;
}

#services-sec {
    background-color: whitesmoke;
    padding-bottom: 40px;
}


/*=======================================
    FOOTER STYLES
==================================================*/


#footer {
background-color: lightyellow;
color: #000;
padding: 20px 50px 20px 50px;
text-align: center;
border-top: 1px solid #d6d6d6;
}


/*=======================================
    MEDIA QUERIES
    
    ==================================================*/

@media all and (max-width:640px) and (min-width:381px) {
    .head-main { 
        font-size:28px ;
    }
}
@media all and (max-width:381px) and (min-width:200px) {
    .head-main { 
        font-size:24px ;
    }
}

/*=======================================
    REGISTER SECTION
==================================================*/
.register-sec {
    background-image:url(../images/3.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100vh;
    overflow:auto;
    margin-top: 20px;
}

.register-sec form {
    font-family:Roboto,sans-serif;
    background-image:url(https://image.freepik.com/free-vector/dark-blue-blurred-background_1034-589.jpg) ;

    border-style: solid;
    border-color: grey;
    border-width: 1px;
    margin: 20px auto auto auto;
    text-align: left;
    opacity: 0.9;
    box-shadow: 2px 5px 5px 2px #eee;
    max-width: 440px;
    padding-top: 10px;
    height: 500px;
}
/*--- for label of first and last name---*/
.lastname{
    margin-left: 1px;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    margin-top: 10px;
}
.firstname{
    margin-left: 1px;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    margin-top: 5px;
}
#lname{
    margin-top:5px;
    color: black;
}
#fname {
    color: black;
}

/*---for heading-----*/
.heading{
    font-weight: bold;
    text-align : center;
    font-size:30px;
    color: lightyellow;
    padding-top:10px;
}

.register-sec hr {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}

.register-sec .form-group {
    margin-bottom: 5px;
}
/*-------for email----------*/
/*------label----*/
#email{
    margin-top: 5px;
    color: black;
}
/*-----------for Password--------*/
/*-------label-----*/
.mail{
    margin-left: 1px;
    font-family: sans-serif;
    color: white;
    font-size: 14px;
    margin-top: 10px;
}
.pass{
    color: white;
    margin-top: 10px;
    font-size: 14px;
    font-family: sans-serif;
    margin-left: 1px;
}
#password{
    margin-top: 6px;
    color: black;
}

#cpassword{
    margin-top: 6px;
    color: black;
}

.register-sec label {
    margin-bottom: 1px;
    margin-top: 2px;
}

/*------------For submit button---------*/
.btn.btn-warning {
    color: black;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid white;
    background-color: lightyellow;
    margin-top: 30px;
    box-shadow: 1px 2px 2px 1px white;
}
.btn.btn-warning:hover {
    box-shadow: 2px 1px 2px 3px #99ccff;
    background:#5900a6;
    color:#fff;
    transition: background-color 1.15s ease-in-out,border-color 1.15s ease-in-out,box-shadow 1.15s ease-in-out;

}



/*=======================================
    LOGIN SECTION
==================================================*/


.login-sec {
    background-image:url(../images/3.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100vh;
    overflow:auto;
}

.login-sec form {
    font-family:Roboto,sans-serif;
    background-image:url(https://image.freepik.com/free-vector/dark-blue-blurred-background_1034-589.jpg) ;

    border-style: solid;
    border-color: grey;
    border-width: 1px;
    margin: 40px auto auto auto;
    text-align: center;
    opacity: 0.8;
    box-shadow: 2px 5px 5px 2px #eee;
    max-width: 420px;
    padding-top: 10px;
    height: 330px;
}

#email-login{
    margin-top: 5px;
    color: black;
}
/*-----------for Password--------*/
/*-------label-----*/
.mail-login{
    margin-left: 1px;
    font-family: sans-serif;
    color: white;
    font-size: 14px;
    margin-top: 10px;
}

.pass-login{
    color: white;
    margin-top: 10px;
    font-size: 14px;
    font-family: sans-serif;
    margin-left: 1px;
}
#password-login{
    margin-top: 12px;
    color: black;
}

.btn.btn-warning.login-btn {
    color: black;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid white;
    background-color: lightyellow;
    margin-top: 28px;
    box-shadow: 1px 2px 2px 1px white;
    padding: 4px 16px;
}
.btn.btn-warning.login-btn:hover {
    box-shadow: 2px 1px 2px 3px #99ccff;
    background:#5900a6;
    color:#fff;
    transition: background-color 1.15s ease-in-out,border-color 1.15s ease-in-out,box-shadow 1.15s ease-in-out;
}

.login-sec .checkbox {
    color: white;
    text-align: left;
}


#destination-sec {
    background-color: whitesmoke;
}

.label-info {
    font-size: 20px;
}


/*------------------------------------
	Member area
------------------------------------*/

.sidebar-menu li {
    background-color: #f4f4f4;
}

.sidebar-menu a {
    font-size: 28px;
    color: darkslategrey;
}

.sidebar-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: 30px;
    border: 2px solid black;
    border-radius: 10px;
}

.sidebar-item:hover {
    background-color: #fff;
}

.sign-out-btn, .profile-btn, .ban-btn, .role-btn {
    border: none!important;
    font-size: 28px!important;
    background-color: transparent!important;
    padding: 0 0;
}

.profile-info {
    margin-bottom: 30px;
}

.profile-info span {
    font-size: 20px;
}

.profile-info img {
    margin-bottom: 14px;
}

#profile-sec .container {
    margin-top: 26px;
    margin-bottom: 26px;
}

.person-info p {
    text-align: left;
    font-size: 20px;
    padding-left: 40px;
    line-height: 12px;
    font-weight: bold;
    color: #5e5e5e;

}

.person-info span {
    font-size: 22px;
    font-style: italic;
    color: black;
}

.person-info {
    padding-top: 26px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: lightgray;
}

.change-btn {
    margin-top: 24px ;
    margin-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

.about-sec p {
    padding-bottom: 2px !important;
    line-height: 22px !important;
}

.about-sec {
    background-color: whitesmoke;
}

.about-sec .text-start {
    margin-bottom: 26px;
}

.contact-sec {
    background-color: whitesmoke;
}

.contact-sec h2 {
    margin-top: 2px;
    margin-bottom: 2px;
}


/* NEW 2nd-Level Dropdown CSS START */
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu .caret {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.dropdown-submenu > .dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
}
.dropdown-submenu.open > a:after {
    border-left-color:#fff;
}
.dropdown-submenu.open > .dropdown-menu, .dropdown-submenu.open > .dropdown-menu {
    display: block;
}
.dropdown-submenu .dropdown-menu {
    margin-bottom: 8px;
}
.navbar-nav .open .dropdown-menu .dropdown-submenu ul {
    background-color: #f6f6f6;
}
.navbar-inverse .navbar-nav .open .dropdown-menu .dropdown-submenu ul {
    background-color:#333;
}
.navbar .navbar-nav .open .dropdown-submenu .dropdown-menu > li > a {
    padding-left: 30px;

}

.navbar-inverse .navbar-nav > .open > a {
    color: black!important;
    background-color: transparent!important;
}

.navbar-inverse .navbar-nav .open .dropdown-menu .dropdown-submenu ul {
    background-color: white;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: black;
        background-color: transparent;
    }
}

@media screen and (min-width:992px) {
    .dropdown-submenu .dropdown-menu {
        margin-bottom: 2px;
    }
    .navbar .navbar-nav .open .dropdown-submenu .dropdown-menu > li > a {
        padding-left: 25px;

    }
    .navbar-nav .open .dropdown-menu .dropdown-submenu ul {
        background-color:#fff;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu .dropdown-submenu ul {
        background-color:#fff;
    }
}
/* NEW 2nd-Level Dropdown CSS END */


/*------------------------------------
     ADD DESTINATION SECTION
------------------------------------*/
#destination-add-sec, #seasonal-destination-add-sec, #offer-add-sec, #special-offer-add-sec, #profile-change-sec  {
    background-color: whitesmoke;
    padding-bottom: 50px;
    padding-top: 80px;
}

#destination-add-sec form, #seasonal-destination-add-sec form, #offer-add-sec form, #special-offer-add-sec form, #profile-change-sec form {
    font-family:Roboto,sans-serif;
    background-color: lightgoldenrodyellow;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    margin: 20px auto auto auto;
    box-shadow: 2px 5px 5px 2px #eee;
    max-width: 440px;
    padding-top: 40px;
    height: 420px;

}

#destination-add-sec .heading, #seasonal-destination-add-sec .heading, #offer-add-sec .heading, #special-offer-add-sec .heading, #profile-change-sec .heading {
    color: black;
}

#destination-add-sec p, #seasonal-destination-add-sec p, #offer-add-sec p, #special-offer-add-sec p {
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 14px;
    padding-bottom: 0;
    padding-left: 18px;
}

input[type = file] {
    display: inline-block;
}

.add-destination-button, .add-seasonal-destination-button, .add-offer-button, .add-special-offer-button, .change-profile-button {
    margin-top: 26px;
    padding: 8px 38px!important;
    border: 1px solid grey;
    border-radius: 2px;
    font-weight: bold;
}

/*------------------------------------
     ADD OFFER SECTION
------------------------------------*/

#offer-add-sec form, #special-offer-add-sec form {
    height: 1450px;
}

#offer-add-sec p. #special-offer-add-sec p {
    line-height: 6px;
    margin-top: 6px;
}

.add-offer-button, .add-special-offer-button {
    margin-top: 20px;
}

/*------------------------------------
     OFFERS SECTION
------------------------------------*/

#offers-sec {
    background: url(../images/offers-bg.jpg) no-repeat fixed 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#offers-sec .panel-body a h4 {
    line-height: 22px;
}

#offers-sec .panel-body a {
    color: black;
}

#offers-sec .label-info {
    font-size: 14px;
    margin-bottom: 40px;
}

#offers-sec .go-marg {
    margin-bottom: 30px;
}

#offers-sec .container {
    margin-top: 50px;
}


#offers-sec p {
    line-height: 20px;
    font-weight: 600;
}

/*------------------------------------
     OFFER DETAILS SECTION
------------------------------------*/







.text-start.p-info {
    font-size: 14px;
    margin-top: 40px;
    background-color: lightyellow;
    padding-top: 16px;
    padding-left: 10px;
    border-style: groove;
    margin-bottom: 45px;
}


.center-center {
    justify-content: center;
    align-items: center;
}

.btn. btn-info .btn-lg .btn-block{
    font-weight: bold;
    font-size: 16px;
    border: 1px solid white;
}

#profile-change-sec form {
    height: 500px;

}


.admin-changes-title {
    color: black;
    font-size: 38px;
    padding-bottom: 26px;
}

#profile-change-admin-sec {
    background-color: whitesmoke;
    padding-bottom: 270px;
    padding-top: 80px;
}

#profile-change-admin-sec th {
    text-align: center;
}

#profile-change-admin-sec .delete-user-btn {
    background-color: #6ac7f3;
    border: 1px solid black;
}

#profile-change-admin-sec .change-user-btn {
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
}





#profile-change-admin-user-sec {
    background-color: whitesmoke;
    padding-top: 60px;
    padding-bottom: 60px;
}

#profile-change-admin-user-sec h3 {
    font-size: 30px;
    padding-bottom: 26px;
}

#profile-change-admin-user-sec .changes {
    font-size: 16px;
    text-align: start;
}

#role input {
    margin-left: 20px;
}

.back-btn, .save-changes-btn {
    margin-top: 20px;
}

.back-btn {
    background-color: #46b8da;
    margin-right: 20px;
    border: 1px solid black;
}

.save-changes-btn {
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
}



.ok-btn {
    border: none;
    background-color: transparent;
}

























































