<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:replace="~{fragments/commons::head}"></head>
<body>

<!-- NAV SECTION -->
<header th:replace="~{fragments/commons::header}"></header>
<!--END NAV SECTION -->
<section class="about-sec">
    <div class="container">
        <div class="row">

                <div class="col-sm-9">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive" src="/images/vienna.jpg" alt="...">
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="/images/rome.jpg" alt="...">
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="/images/paris.jpg" alt="...">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>

                    <div class="text-start">
                        <h3 class="text-center"><strong>About us</strong></h3>
                        <p><strong>
                            Welcome to StelaTours website! Welcome to the world of travel! Expect unforgettable
                            emotions from our organized trips!
                        </strong></p>
                        <p><strong>Who are we?</strong></p>
                        <p>
                            StelaTours Travel Agency is a licensed tour operator and travel agent with its office in
                            the city of Varna and holds license RK-01-2345. The company offers both own and agency
                            products such as:
                        </p>
                        <ul class="list-unstyled" >
                            <li>- Airline tickets</li>
                            <li>- Excursions in Europe</li>
                            <li>- Vacations in Europe</li>
                            <li>- Hotel accommodation</li>
                            <li>- Cruises</li>
                            <li>- Individual packages for personal and business trips</li>
                            <li>- Student camps and excursions</li>
                            <li>- Insurances</li>
                        </ul>
                        <p>
                            In our activity, we strive to provide and offer solutions fully tailored to the needs and
                            requirements of our customers. We value correct partnership, professional and confidential
                            service.
                        </p>
                    </div>
                </div>
        </div>
    </div>
</section>
<!-- ABOUT US SECTION -->


<!-- END ABOUT US SECTION -->

<!--FOOTER SECTION -->
<footer th:replace="~{fragments/commons::footer}"></footer>
<!-- END FOOTER SECTION -->

</body>
</html>