<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>

<!-- NAV SECTION -->
<header th:replace="~{fragments/commons::header}"></header>
<!-- END NAV SECTION -->

<!-- DESTINATION ADD SECTION -->
<section id="destination-add-sec">
    <div class="container">
        <header class="heading">Add New Destination</header><hr></hr>
        <form enctype="multipart/form-data"
         th:method="POST"
         th:action="@{/destination-add}"
         th:object="${destinationAddDto}">

            <div class="col-sm-12">
                <p class="text-label">Country: </p>
            </div>

            <div class="col-sm-12 form-group">
                <input type="text" name="country" id="country" class="form-control"
                       th:field="*{country}"
                       th:errorclass="bg-danger"/>
                <small th:if="${#fields.hasErrors('country')}"
                       th:errors="*{country}" class="text-danger">Country error message</small>
            </div>

            <div class="col-sm-12">
                <p class="text-label">Choose an image: </p>
            </div>

            <div class="col-sm-12 form-group">
                <div class="col-sm-5 control-fileupload">
                   <label for="file"></label>
                </div>
                <input type="file" name="file" id="file" class="form-control" accept="image/*"
                       th:field="*{destinationImage}"
                       th:errorclass="bg-danger" />
                <small th:if="${#fields.hasErrors('destinationImage')}"
                       th:errors="*{destinationImage}" class="text-danger">Image error message</small>
            </div>

            <div class="col-sm-12">
                <button type="submit" class="btn add-destination-button">Add</button>
            </div>

        </form>
    </div>
</section>
<!-- END DESTINATION ADD SECTION -->

<!--FOOTER SECTION -->
<footer th:replace="~{fragments/commons::footer}"></footer>
<!-- END FOOTER SECTION -->

</body>
</html>