<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
     <!-- NAV SECTION -->
     <header th:replace="~{fragments/commons::header}"></header>
     <!--END NAV SECTION -->
    
    <!--HOME SECTION-->
    <div id="home-sec">
   
    <div class="container"  >
        <div class="row text-center">
            <div  class="col-md-12" >
                <span class="head-main" >**Stela Tours**</span>
                <h3 class="head-last col-md-4 col-md-offset-4  col-sm-6 col-sm-offset-3">Explore Europe with us!</h3>
            </div>
        </div>
    </div>
         </div>
    

    <section  id="services-sec">
        <div class="container">
            <div class="row ">
                <div class="text-center g-pad-bottom">
                    <div class="col-md-4 col-sm-4 alert-info">
                            <h4><i class="fa fa-thumbs-up"></i> <u>Top Offers</u></h4>
                            <p>
                                We always try to offer the best quality service at a good price.
                                With us you can always find a variety of top destinations with rich itineraries.
                            </p>
                    </div>
                    <div class="col-md-4 col-sm-4 alert-success">
                            <h4><i class="fa fa-shield"></i> <u>100% security</u></h4>
                            <p>
                                We are a licensed tour operator specializing in organizing tours and holidays abroad.
                                Many of our customers travel regularly with our company.
                            </p>
                    </div>
                    <div class="col-md-4 col-sm-4 alert-danger">
                            <h4><i class="fa fa-gift"></i> <u>Loyal customer program</u></h4>
                            <p>
                                Our regular customers can take advantage of our special discounts through the bonus
                                points they receive. Every booking earns points.
                            </p>
                    </div>
                </div>
                  </div>


          
        </div>
    </section>
    <!--END HOME SECTION-->

    <!--FOOTER SECTION -->
     <footer th:replace="~{fragments/commons::footer}"></footer>
     <!-- END FOOTER SECTION -->
</body>
</html>
