<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:replace="~{fragments/commons::head}"></head>
<body>

<!-- NAV SECTION -->
<header th:replace="~{fragments/commons::header}"></header>
<!-- END NAV SECTION -->

<!-- LOGIN SECTION -->
<section class="login-sec">
    <!---heading---->
    <header class="heading">Login</header><hr></hr>
    <!---Form starting---->
    <form th:action="@{/login}"
          th:method="POST">
      <!-----For email---->
      <div class="col-sm-12 form-group">
          <div class="col-sm-5">
            <label class="mail-login" for="email-login">Email:</label>
          </div>
            <input type="email" name="email" id="email-login"placeholder="Enter your email" class="form-control">
      </div>
      <!-----For Password and confirm password---->
      <div class="col-sm-12 form-group">
          <div class="col-sm-5">
            <label class="pass-login" for="password-login">Password:</label>
          </div>
            <input type="password" name="password" id="password-login" placeholder="Enter your Password" class="form-control">
      </div>
      <!-----------Remember me-------->
      <div class="col-sm-12 form-group">
        <div class="col-sm-5">
          <div class="checkbox">
            <label><input type="checkbox" name="rememberme">Remember me</label>
          </div>
        </div>
      </div>
        <!-----------Login-error-------->
      <small th:if="${bad_credentials}" class="errors alert alert-danger">
          Invalid Email or password!
      </small>
      <!-----------For Phone number-------->
      <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-warning login-btn">Login</button>
      </div>

    </form>
</section>

<!-- END LOGIN SECTION -->

<!--FOOTER SECTION -->
<footer th:replace="~{fragments/commons::footer}"></footer>
<!-- END FOOTER SECTION -->

</body>
</html>