<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>

<!-- NAV SECTION -->
<header th:replace="~{fragments/commons::header}"></header>
<!-- END NAV SECTION -->

<!-- LOGIN SECTION -->
<section class="login-sec">
  <div class="container">
    <!---heading---->
    <header class="heading">Login</header><hr></hr>
    <!---Form starting---->
    <div class="row ">
      <!-----For email---->
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <label class="mail-login">Email:</label></div>
          <div class="col-sm-8"	>
            <input type="email" name="email-login"  id="email-login"placeholder="Enter your email" class="form-control" >
          </div>
        </div>
      </div>
      <!-----For Password and confirm password---->
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <label class="pass-login">Password:</label></div>
          <div class="col-sm-8">
            <input type="password" name="password-login" id="password-login" placeholder="Enter your Password" class="form-control">
          </div>
        </div>
      </div>
      <!-----------For Phone number-------->
      <div class="col-sm-12">
        <div class ="row">
          <div class="col-sm-12 text-center">
            <div class="btn btn-warning login-btn">Login</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- END LOGIN SECTION -->

<!--FOOTER SECTION -->
<footer th:replace="~{fragments/commons::footer}"></footer>
<!-- END FOOTER SECTION -->

</body>
</html>