<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>

<!-- NAV SECTION -->
<header th:replace="~{fragments/commons::header}"></header>
<!--END NAV SECTION -->

<!--OFFER ADD SECTION -->
<section id="offer-add-sec">
    <!---heading---->
    <header class="heading">Add Offer</header><hr></hr>
    <!---Form starting---->
    <form enctype="multipart/form-data"
            th:method="POST"
            th:action="@{/offer-add}"
            th:object="${offerAddDto}">
        <!--- For Name---->
        <div class="col-sm-12 form-group">
            <div class="col-sm-5">
                <label class="offer-title" for="offer-title">Title: </label>
            </div>

            <input type="text" name="offer-title" id="offer-title" class="form-control"
                   th:name="title"
                   th:field="*{title}"
                   th:errorclass="bg-danger"/>
            <small th:if="${#fields.hasErrors('title')}"
                   th:errors="*{title}" class="text-danger">Title error message</small>
        </div>


        <div class="col-sm-12 form-group">
            <div class="col-sm-5">
                <label class="offer-info" for="offer-info">Info: </label>
            </div>
            <input type="text" name="offer-info" id="offer-info" class="form-control"
                   th:name="info"
                   th:field="*{info}"
                   th:errorclass="bg-danger"/>
            <small th:if="${#fields.hasErrors('info')}"
                   th:errors="*{info}" class="text-danger">Info error message</small>
        </div>

        <div class="col-sm-12 form-group">
            <div class="col-sm-5">
                <label class="offer-program" for="offer-program">Program: </label>
            </div>
            <input type="text" name="offer-program"  id="offer-program" class="form-control"
                   th:name="program"
                   th:field="*{program}"
                   th:errorclass="bg-danger"/>
            <small th:if="${#fields.hasErrors('program')}"
                   th:errors="*{program}" class="text-danger">Program error message</small>
        </div>

        <div class="col-sm-12 form-group">
            <div class="col-sm-5">
                <label class="offer-price" for="offer-price">Price: </label>
            </div>
            <input type="number" name="offer-price" id="offer-price" class="form-control"
                   th:name="price"
                   th:field="*{price}"
                   th:errorclass="bg-danger"/>
            <small th:if="${#fields.hasErrors('price')}"
                   th:errors="*{price}" class="text-danger">Price error message</small>
        </div>

        <div class="col-sm-12 form-group">
            <div class="col-sm-5">
                <label class="offer-description" for="offer-description">Description: </label>
            </div>
            <input type="text" name="offer-description" id="offer-description" class="form-control"
                   th:name="description"
                   th:field="*{description}"
                   th:errorclass="bg-danger"/>
            <small th:if="${#fields.hasErrors('description')}"
                   th:errors="*{description}" class="text-danger">Description error message</small>
        </div>

        <div class="col-sm-12">
            <p class="text-label">Image: </p>
        </div>
        <div class="col-sm-12 form-group">
            <div class="col-sm-5 control-fileupload">
                <label for="file"></label>
            </div>
            <input type="file" name="file" id="file" accept="image/*"
                   th:name="offerImage"
                   th:field="*{offerImage}"/>
            <small th:if="${#fields.hasErrors('offerImage')}"
                   th:errors="*{offerImage}" class="text-danger">Image error message</small>
        </div>

        <div class="col-sm-12 text-center">
            <button type="submit" class="btn add-offer-button">Add</button>
        </div>

    </form>
</section>

<!-- END OFFER ADD SECTION -->

<!--FOOTER SECTION -->
<footer th:replace="~{fragments/commons::footer}"></footer>
<!-- END FOOTER SECTION -->

</body>
</html>