<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:replace="~{fragments/commons::head}"></head>
<body>
     <!-- NAV SECTION -->
     <header th:replace="~{fragments/commons::header}"></header>
     <!--END NAV SECTION -->
    

    <!--OFFERS SECTION-->
    <section  id="offers-sec">
        <div class="container">



        </div>
    </section>
    <!--END OFFERS SECTION-->

     <!--FOOTER SECTION -->
     <footer th:replace="~{fragments/commons::footer}"></footer>
     <!-- END FOOTER SECTION -->
</body>
</html>
