<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
     <!-- NAV SECTION -->
     <header th:replace="~{fragments/commons::header}"></header>
     <!--END NAV SECTION -->
    

    <!--OFFERS SECTION-->
    <section  id="offers-sec">
        <div class="container">

            <div class="row go-marg">
                <div th:each="offer : ${viewOffers.offers}" class="col-md-4 col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a th:href="@{/offer-details/{id}(id=${offer.getId()})}"><h4 class="adjst"><i class="fa fa-plane"></i> <strong th:text="${offer.title}">
                            </strong></h4></a>
                            <p th:text="${offer.info}"></p>
                            <span class="label label-info" th:text="'from ' + ${offer.price} + ' BGN'">from 799 BGN</span>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </section>
    <!--END OFFERS SECTION-->


     <!--FOOTER SECTION -->
     <footer th:replace="~{fragments/commons::footer}"></footer>
     <!-- END FOOTER SECTION -->
</body>
</html>
