<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>

<!-- NAV SECTION -->
<header th:replace="~{fragments/commons::header}"></header>
<!--END NAV SECTION -->

<!--OFFER DETAILS SECTION -->
<section class="offer-details-sec">
    <div class="container">

        <div class="row">
            <div class="col-sm-8">
                <div>
                    <img class="img-responsive" th:src="@{'/images/' + ${offerDto.url}}">
                </div>

                <div class="text-start">
                    <h3 th:text="${offerDto.title}">Title</h3>
                    <p  th:text="${offerDto.info}" style="line-height: 20px">Info</p>
                </div>

                <div class="text-start">
                    <h4 style="color:#6f42c1;">Program:</h4>
                    <p  th:text="${offerDto.program}" style="line-height: 20px"></p>
                </div>

                <div class="text-start">
                    <h4 style="color:#6f42c1;">Price:</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody class="text-nowrap">
                            <tr>
                                <th class="warning bold-italic col-sm-2" scope="row">from </th>
                                <th th:text="${offerDto.price} + ' BGN'" class="warning bold-italic col-sm-2" scope="row"></th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="text-start">
                    <h4 style="color:#6f42c1;">The package price is in BGN per person and includes: </h4>
                    <ul th:each="item: ${priceIncludesInfoPoints}" class="list-style-type: disc">
                        <li th:text="${item}"><div class="item"></div></li>
                    </ul>
                </div>

                <div class="text-start">
                    <h4 style="color:#6f42c1;">The price does not include:</h4>
                    <ul th:each="item: ${priceNotIncludesInfoPoints}" class="list-style-type: disc">
                        <li th:text="${item}"><div class="item"></div></li>
                    </ul>
                    <br/>
                </div>

                <div class="text-start">
                    <strong><u>Required documents: </u></strong>
                    <p th:text="${offerDto.requiredDocuments}" style="line-height: 20px">
                        <br/>
                    </p>

                    <strong><u>Method of payment: </u></strong>
                    <p th:text="${offerDto.methodOfPayment}" style="line-height: 20px">
                        <br/>
                    </p>

                    <strong><u>Minimum number of tourists to make the trip: </u></strong>
                    <p th:text="${offerDto.minNumberOfTourists}" style="line-height: 20px">
                        <br/>
                    </p>
                </div>
                <div class="text-start p-info">
                    <i class="fa fa-plane"></i><p th:text="'Type of transport: ' + ${offerDto.typeOfTransport}" style="line-height: 20px">
                    <br/>
                </p>

                    <i class="fa fa-clock-o"></i><p th:text="'Duration: ' + ${offerDto.duration}" style="line-height: 20px">
                    <br/>
                </p>

                    <i class="fa fa-calendar"></i><p th:text="'Dates: ' + ${offerDto.date}" style="line-height: 20px">
                    <br/>
                </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- END OFFER DETAILS SECTION -->

<!--FOOTER SECTION -->
<footer th:replace="~{fragments/commons::footer}"></footer>
<!-- END FOOTER SECTION -->

</body>
</html>