<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>

<!-- NAV SECTION -->
<header th:replace="~{fragments/commons::header}"></header>
<!--END NAV SECTION -->

<!--OFFER DETAILS SECTION -->
<section class="offer-details-sec">
    <div class="container">

        <div class="row">
            <div class="col-sm-8">

                <div>
                    <img class="img-responsive" th:src="@{'/images/' + ${offerDto.url}}">
                </div>

                <div class="text-start">
                    <h3 th:text="${offerDto.title}">Title</h3>
                    <p  th:text="${offerDto.info}" style="line-height: 20px">Info</p>
                </div>

                <div class="text-start">
                    <h4 style="color:#6f42c1;">Program:</h4>
                    <p  th:text="${offerDto.program}" style="line-height: 20px"></p>
                </div>

                <div class="text-start">
                    <h4 style="color:#6f42c1;">Price:</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody class="text-nowrap">
                            <tr>
                                <th class="warning bold-italic col-sm-2" scope="row">from </th>
                                <th th:text="${offerDto.price} + ' BGN'" class="warning bold-italic col-sm-2" scope="row"></th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="text-start">
                    <h4  th:text="${offerDto.priceIncludesTitle} + ':'" style="color:#6f42c1;"></h4>
                    <ul th:each="item: ${priceIncludesInfoPoints}" class="list-style-type: disc">
                        <li th:text="${item}"><div class="item"></div></li>
                    </ul>
                </div>

                <div class="text-start">
                    <h4  th:text="${offerDto.priceNotIncludesTitle} + ':'" style="color:#6f42c1;"></h4>
                    <ul th:each="item: ${priceNotIncludesInfoPoints}" class="list-style-type: disc">
                        <li th:text="${item}"><div class="item"></div></li>
                    </ul>
                    <br/>
                </div>

                <div class="text-start">
                    <strong th:text="${offerDto.requiredDocumentsTitle} + ':'"><u></u></strong>
                    <p th:text="${offerDto.requiredDocumentsInfo}" style="line-height: 20px">
                        <br/>
                    </p>

                    <strong th:text="${offerDto.methodOfPaymentTitle} + ':'"><u></u></strong>
                    <p th:text="${offerDto.methodOfPaymentInfo}" style="line-height: 20px">
                        <br/>
                    </p>

                    <strong th:text="${offerDto.minNumberOfTouristsTitle} + ':'"><u></u></strong>
                    <p th:text="${offerDto.minNumberOfTouristsInfo}" style="line-height: 20px">
                        <br/>
                    </p>
                </div>
            </div>


            <div class="col-sm-4">
                <p class="p-favor">Add to favorites
                    <button type="button" class="btn btn-danger btn-circle btn-lg"><i class="glyphicon glyphicon-heart"></i></button>
                </p>

                <div class="text-start p-info">
                    <p style="line-height: 20px">
                        <strong><i class="fa fa-plane"></i> Type of transport: </strong>A bus
                        <br/>
                    </p>

                    <p style="line-height: 20px">
                        <strong><i class="fa fa-clock-o"></i> Duration: </strong>4 days / 2 nights
                        <br/>
                    </p>

                    <p style="line-height: 20px">
                        <strong><i class="fa fa-calendar"></i> Dates: </strong> 07.12.2023, 14.12.2023
                        <br/>
                    </p>
                </div>

                <div class="flex-container center-center">
                    <a th:href="@{/reservation-form}" class="bnt btn-info btn-lg btn-block text-center"
                       style="text-decoration:none; color:lightyellow">Reservation</a>
                </div>

            </div>


        </div>
    </div>
</section>
<!-- END OFFER DETAILS SECTION -->

<!--FOOTER SECTION -->
<footer th:replace="~{fragments/commons::footer}"></footer>
<!-- END FOOTER SECTION -->

</body>
</html>