<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
     <!-- NAV SECTION -->
     <header th:replace="~{fragments/commons::header}"></header>
     <!--END NAV SECTION -->
    

    <!--OFFERS SECTION-->
    <section  id="offers-sec">
        <div class="container">

            <div class="row">
                <div th:each="offer : ${viewOffers.offers}" class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img th:src="@{'/images/' + ${offer.url}}" class="img-responsive" src="">
                            <a th:href="@{/offer-details/{id}(id=${offer.getId()})}" th:text="${offer.title}" class="link-dark"></a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </section>
    <!--END OFFERS SECTION-->


     <!--FOOTER SECTION -->
     <footer th:replace="~{fragments/commons::footer}"></footer>
     <!-- END FOOTER SECTION -->
</body>
</html>
