<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>

<!-- NAV SECTION -->
<header th:replace="~{fragments/commons::header}"></header>
<!--END NAV SECTION -->

<!--OFFER ADD SECTION -->
<section id="offer-add-sec">
    <!---heading---->
    <header class="heading">Add Offer</header><hr></hr>
    <!---Form starting---->
    <form enctype="multipart/form-data"
            th:method="POST"
            th:action="@{/offer-add}"
            th:object="${offerAddDto}">
        <!--- For Name---->
        <div class="col-sm-12 form-group">
            <div class="col-sm-5">
                <label class="offer-title" for="offer-title">Title: </label>
            </div>

            <input type="text" name="offer-title" id="offer-title" class="form-control"
                   th:name="title"
                   th:field="*{title}"
                   th:errorclass="bg-danger"/>
            <small th:if="${#fields.hasErrors('title')}"
                   th:errors="*{title}" class="text-danger">Title error message</small>
        </div>


        <div class="col-sm-12 form-group">
            <div class="col-sm-5">
                <label class="offer-info" for="offer-info">Info: </label>
            </div>
            <input type="text" name="offer-info" id="offer-info" class="form-control"
                   th:name="info"
                   th:field="*{info}"
                   th:errorclass="bg-danger"/>
            <small th:if="${#fields.hasErrors('info')}"
                   th:errors="*{info}" class="text-danger">Info error message</small>
        </div>

        <div class="col-sm-12 form-group">
            <div class="col-sm-5">
                <label class="offer-program" for="offer-program">Program: </label>
            </div>
            <input type="text" name="offer-program"  id="offer-program" class="form-control"
                   th:name="program"
                   th:field="*{program}"
                   th:errorclass="bg-danger"/>
            <small th:if="${#fields.hasErrors('program')}"
                   th:errors="*{program}" class="text-danger">Program error message</small>
        </div>

        <div class="col-sm-12 form-group">
            <div class="col-sm-5">
                <label class="offer-price" for="offer-price">Price: </label>
            </div>
            <input type="number" name="offer-price" id="offer-price" class="form-control"
                   th:name="price"
                   th:field="*{price}"
                   th:errorclass="bg-danger"/>
            <small th:if="${#fields.hasErrors('price')}"
                   th:errors="*{price}" class="text-danger">Price error message</small>
        </div>

        <div class="col-sm-12 form-group">
            <div class="col-sm-5">
                <label class="offer-price-includes" for="offer-price-includes">Price includes: </label>
            </div>
            <input type="text" name="offer-price-includes" id="offer-price-includes" class="form-control"
                   th:name="priceIncludes"
                   th:field="*{priceIncludes}"
                   th:errorclass="bg-danger"/>
            <small th:if="${#fields.hasErrors('priceIncludes')}"
                   th:errors="*{priceIncludes}" class="text-danger">Price includes error message</small>
        </div>

        <div class="col-sm-12 form-group">
            <div class="col-sm-5">
                <label class="offer-price-not-includes" for="offer-price-not-includes">Price not includes: </label>
            </div>
            <input type="text" name="offer-price-not-includes" id="offer-price-not-includes" class="form-control"
                   th:name="priceNotIncludes"
                   th:field="*{priceNotIncludes}"
                   th:errorclass="bg-danger"/>
            <small th:if="${#fields.hasErrors('priceNotIncludes')}"
                   th:errors="*{priceNotIncludes}" class="text-danger">Price not includes error message</small>
        </div>

        <div class="col-sm-12 form-group">
            <div class="col-sm-5">
                <label class="offer-required-documents" for="offer-required-documents">Required documents: </label>
            </div>
            <input type="text" name="offer-required-documents" id="offer-required-documents" class="form-control"
                   th:name="requiredDocuments"
                   th:field="*{requiredDocuments}"
                   th:errorclass="bg-danger"/>
            <small th:if="${#fields.hasErrors('requiredDocuments')}"
                   th:errors="*{requiredDocuments}" class="text-danger">Required documents error message</small>
        </div>

        <div class="col-sm-12 form-group">
            <div class="col-sm-5">
                <label class="offer-method-of-payment" for="offer-method-of-payment">Method of payment: </label>
            </div>
            <input type="text" name="offer-method-of-payment" id="offer-method-of-payment" class="form-control"
                   th:name="methodOfPayment"
                   th:field="*{methodOfPayment}"
                   th:errorclass="bg-danger"/>
            <small th:if="${#fields.hasErrors('methodOfPayment')}"
                   th:errors="*{methodOfPayment}" class="text-danger">Method of payment error message</small>
        </div>

        <div class="col-sm-12 form-group">
            <div class="col-sm-5">
                <label class="offer-min-number-of-tourists" for="offer-min-number-of-tourists">Minimum number of tourists: </label>
            </div>
            <input type="text" name="offer-min-number-of-tourists" id="offer-min-number-of-tourists" class="form-control"
                   th:name="minNumberOfTourists"
                   th:field="*{minNumberOfTourists}"
                   th:errorclass="bg-danger"/>
            <small th:if="${#fields.hasErrors('minNumberOfTourists')}"
                   th:errors="*{minNumberOfTourists}" class="text-danger">Min number of tourists error message</small>
        </div>

        <div class="col-sm-12 form-group">
            <div class="col-sm-5">
                <label class="offer-type-of-transport" for="offer-type-of-transport">Type of transport: </label>
            </div>
            <input type="text" name="offer-type-of-transport" id="offer-type-of-transport" class="form-control"
                   th:name="typeOfTransport"
                   th:field="*{typeOfTransport}"
                   th:errorclass="bg-danger"/>
            <small th:if="${#fields.hasErrors('typeOfTransport')}"
                   th:errors="*{typeOfTransport}" class="text-danger">Type of transport error message</small>
        </div>

        <div class="col-sm-12 form-group">
            <div class="col-sm-5">
                <label class="offer-duration" for="offer-duration">Duration: </label>
            </div>
            <input type="text" name="offer-duration" id="offer-duration" class="form-control"
                   th:name="duration"
                   th:field="*{duration}"
                   th:errorclass="bg-danger"/>
            <small th:if="${#fields.hasErrors('duration')}"
                   th:errors="*{duration}" class="text-danger">Duration error message</small>
        </div>

        <div class="col-sm-12 form-group">
            <div class="col-sm-5">
                <label class="offer-date" for="offer-date">Date: </label>
            </div>
            <input type="date" name="offer-date" id="offer-date" class="form-control"
                   th:name="date"
                   th:field="*{date}"
                   th:errorclass="bg-danger"/>
            <small th:if="${#fields.hasErrors('date')}"
                   th:errors="*{date}" class="text-danger">Date error message</small>
        </div>

        <div class="col-sm-12 form-group">
            <div class="col-sm-5">
                <label class="offer-destination" for="offer-destination">Destination: </label>
            </div>
            <select th:field="*{destination.id}" id="offer-destination" name="offer-destination" class="form-control">
                <option th:value="null">SELECT</option>
                <option th:each="destination: ${destinations}" th:value="${destination.id}" th:text="${destination.country}"></option>
            </select>
        </div>

        <div class="col-sm-12">
            <p class="text-label">Image: </p>
        </div>
        <div class="col-sm-12 form-group">
            <div class="col-sm-5 control-fileupload">
                <label for="file"></label>
            </div>
            <input type="file" name="file" id="file" accept="image/*"
                   th:name="offerImage"
                   th:field="*{offerImage}"/>
            <small th:if="${#fields.hasErrors('offerImage')}"
                   th:errors="*{offerImage}" class="text-danger">Image error message</small>
        </div>

        <div class="col-sm-12 text-center">
            <button type="submit" class="btn add-offer-button">Add</button>
        </div>

    </form>
</section>

<!-- END OFFER ADD SECTION -->

<!--FOOTER SECTION -->
<footer th:replace="~{fragments/commons::footer}"></footer>
<!-- END FOOTER SECTION -->

</body>
</html>