<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:replace="~{fragments/commons::head}"></head>
<body>

<!-- NAV SECTION -->
<header th:replace="~{fragments/commons::header}"></header>
<!--END NAV SECTION -->

<!-- PROFILE SECTION -->
<section id="profile-sec">
  <div class="container">
    <div class="row text-center">
      <!--right sidebar-->
      <div class="col-sm-3 profile-info text-center">
        <div style="width: 50%">
          <img class="img-responsive" src="/images/user.png">
          <span> <th:block sec:authorize="isAuthenticated()">
            <th:block sec:authentication="name"></th:block>
          </th:block></span>
        </div>
      </div>

      <div id="user-info" class="col-sm-5">
        <div class="person-info">
          <p th:text="'First Name: ' + ${userProfileDto.firstName}"></p>
          <p th:text="'Last Name: ' + ${userProfileDto.lastName}"></p>
          <p th:text="'Email: ' + ${userProfileDto.email}"></p>
          <p th:text="${userProfileDto.phoneNumber != null} ? 'Phone Number: ' + ${userProfileDto.phoneNumber} : 'Phone Numer:' "></p>
          <p th:text="${userProfileDto.birthdate != null} ? 'Birth Date: ' + ${userProfileDto.birthdate} : 'Birth Date:' "></p>
        </div>
      </div>

      <!--left sidebar-->
      <div class="col-sm-4">
        <div class="sidebar-left">
          <!--sidebar menu-->
          <ul class="list-unstyled sidebar-menu">
            <li>
              <form>
              <a class="sidebar-item" style="text-decoration: none">
                <button id="loadUserInfo" class="btn profile-btn">Change Profile</button>
              </a>
              </form>
            </li>
            <li>
              <form th:action="@{/logout}" th:method="POST">
              <a class="sidebar-item" style="text-decoration: none">
                <button type="submit" class="btn sign-out-btn">Sign out</button>
              </a>
              </form>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>
<!--END PROFILE SECTION -->

<!--FOOTER SECTION -->
<footer th:replace="~{fragments/commons::footer}"></footer>
<!-- END FOOTER SECTION -->

</body>
</html>