<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>

<!-- NAV SECTION -->
<header th:replace="~{fragments/commons::header}"></header>
<!-- END NAV SECTION -->

<!--REGISTER SECTION-->
<section class="register-sec">
    <!---heading---->
    <header class="heading">Registration</header><hr></hr>
    <!---Form starting---->
    <form
     th:method="POST"
     th:action="@{/register}"
     th:object="${userRegisterDto}">
        <!--- For Name---->
        <div class="col-sm-12 form-group">
                <div class="col-sm-5">
                    <label class="firstname" for="fname">First Name:</label>
                </div>

                    <input type="text" name="fname" id="fname" placeholder="Enter your First Name" class="form-control"
                     th:field="*{firstName}"
                     th:errorclass="bg-danger"/>
                    <small th:if="${#fields.hasErrors('firstName')}"
                           th:errors="*{firstName}" class="text-danger">First name error message</small>
        </div>


        <div class="col-sm-12 form-group">
                <div class="col-sm-5">
                    <label class="lastname" for="lname">Last Name:</label>
                </div>
                    <input type="text" name="lname" id="lname" placeholder="Enter your Last Name" class="form-control last"
                     th:field="*{lastName}"
                     th:errorclass="bg-danger"/>
                    <small th:if="${#fields.hasErrors('lastName')}"
                           th:errors="*{lastName}" class="text-danger">Last name error message</small>
        </div>
        <!-----For email---->
        <div class="col-sm-12 form-group">
                <div class="col-sm-5">
                    <label class="mail" for="email">Email:</label>
                </div>
                    <input type="email" name="email"  id="email"placeholder="Enter your Email" class="form-control"
                     th:field="*{email}"
                     th:errorclass="bg-danger"/>
                    <small th:if="${#fields.hasErrors('email')}"
                           th:errors="*{email}" class="text-danger">Email error message</small>
        </div>
        <!-----For Password and confirm password---->
        <div class="col-sm-12 form-group">
                <div class="col-sm-5">
                    <label class="pass" for="password">Password:</label>
                </div>
                    <input type="password" name="password" id="password" placeholder="Enter your Password" class="form-control"
                     th:field="*{password}"
                     th:errorclass="bg-danger"/>
                    <small th:if="${#fields.hasErrors('password')}"
                           th:errors="*{password}" class="text-danger">Password error message</small>
        </div>

        <div class="col-sm-12 form-group">
                <div class="col-sm-5">
                    <label class="pass" for="cpassword">Password confirm:</label>
                </div>
                    <input type="password" name="cpassword" id="cpassword" placeholder="Confirm your Password" class="form-control"
                     th:field="*{passwordConfirm}"
                     th:errorclass="bg-danger"/>
                    <small th:if="${#fields.hasErrors('passwordConfirm')}"
                           th:errors="*{passwordConfirm}" class="text-danger">Password confirm error message</small>
        </div>

        <!-----------For Phone number-------->
        <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-warning">Register</button>
        </div>

    </form>
</section>
<!--END REGISTER SECTION-->

<!--FOOTER SECTION -->
<footer th:replace="~{fragments/commons::footer}"></footer>
<!-- END FOOTER SECTION -->
</body>
</html>
