<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>

<!-- NAV SECTION -->
<header th:replace="~{fragments/commons::header}"></header>
<!--END NAV SECTION -->

<!-- RESERVATION FORM SECTION -->
<section class="reservation-sec">
  <div class="container">

    <div class="row">
      <div class="col-sm-8">
        <div class="reservation-form">
          <form action="" method="">

            <div class="col1">Number of passengers</div>
            <div class="col2">
              <div class="select-dropdown-box">
                <div class="select-dropdown">
                  <input type="number" name="adult" class="form-control" />
                </div>
              </div>
            </div>

              <div class="col1">Number of kids</div>
              <div class="col2">
              <div class="select-dropdown-box">
                <div class="select-dropdown">
                  <input type="number" name="child" class="form-control" />
                </div>
                <div>*select number of children up to 17 years old</div>
              </div>
            </div>

            <div class="col1">Date</div>
            <div class="col2">
              <div class="select-dropdown" style="width: 85%">
                <input type="date" name="trip_id" class="form-control" />
              </div>
            </div>

            <div class="col1">Hotel category</div>
            <div class="col2">
              <div class="select-dropdown" style="width: 85%">
                <select name="accommodationid" class="form-control">
                  <option value="0"></option>
                  <option value="1">Accommodation in 2* or 3*</option>
                  <option value="2">Accommodation in 4*</option>
                  <option value="3">Accommodation in 5*</option>
                </select>
              </div>
            </div>

            <div class="insurances-heading">Insurances</div>
            <div class="table-responsive-vertical">
              <table id="table" class="table table-hover num-ins">
                <thead>
                <tr>
                  <th></th>
                  <th>Price*</th>
                  <th>Number</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    Medical insurance with assistance with a total coverage of 10,000 EUR
                  </td>
                  <td data-title="Price*">2.00&nbsp;BGN</td>
                  <td data-title="Number">
                    <div class="select-dropdown-box">
                      <div class="select-dropdown">
                        <input type="number" name="ins_count" class="form-control" />
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="note-ens">
                * The price shown is for one tourist
              </div>
            </div>
            <div class="note-ens note-m">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              Medical insurance is mandatory when traveling abroad.
            </div>
            <div class="res-btn text-center">
              <button type="button" class="btn btn-info">Make a reservation</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</section>
<!--END RESERVATION FORM SECTION -->

<!--FOOTER SECTION -->
<footer th:replace="~{fragments/commons::footer}"></footer>
<!-- END FOOTER SECTION -->

</body>
</html>