<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>

<!-- NAV SECTION -->
<header th:replace="~{fragments/commons::header}"></header>
<!--END NAV SECTION -->

<!--SPECIAL OFFER ADD SECTION-->
<section id="special-offer-add-sec">
  <!---heading---->
  <header class="heading">Add Special Offer</header><hr></hr>
  <!---Form starting---->
  <form enctype="multipart/form-data"
        th:method="POST"
        th:action="@{/special-offer-add}"
        th:object="${specialOfferAddDto}">
    <!--- For Name---->
    <div class="col-sm-12 form-group">
      <div class="col-sm-5">
        <label class="special-offer-title" for="special-offer-title">Title: </label>
      </div>
      <input type="text" name="special-offer-title" id="special-offer-title" class="form-control"
             th:name="title"
             th:field="*{title}"
             th:errorclass="bg-danger"/>
      <small th:if="${#fields.hasErrors('title')}"
             th:errors="*{title}" class="text-danger">Title error message</small>
    </div>


    <div class="col-sm-12 form-group">
      <div class="col-sm-5">
        <label class="special-offer-info" for="special-offer-info">Info: </label>
      </div>
      <input type="text" name="special-offer-info" id="special-offer-info" class="form-control"
             th:name="info"
             th:field="*{info}"
             th:errorclass="bg-danger"/>
      <small th:if="${#fields.hasErrors('info')}"
             th:errors="*{info}" class="text-danger">Info error message</small>
    </div>

    <div class="col-sm-12 form-group">
      <div class="col-sm-5">
        <label class="special-offer-program" for="special-offer-program">Program: </label>
      </div>
      <input type="text" name="special-offer-program"  id="special-offer-program" class="form-control"
             th:name="program"
             th:field="*{program}"
             th:errorclass="bg-danger"/>
      <small th:if="${#fields.hasErrors('program')}"
             th:errors="*{program}" class="text-danger">Program error message</small>
    </div>

    <div class="col-sm-12 form-group">
      <div class="col-sm-5">
        <label class="special-offer-price" for="special-offer-price">Price: </label>
      </div>
      <input type="number" name="special-offer-price" id="special-offer-price" class="form-control"
             th:name="price"
             th:field="*{price}"
             th:errorclass="bg-danger"/>
      <small th:if="${#fields.hasErrors('price')}"
             th:errors="*{price}" class="text-danger">Price error message</small>
    </div>

    <div class="col-sm-12 form-group">
      <div class="col-sm-5">
        <label class="special-offer-price-includes" for="special-offer-price-includes">Price includes: </label>
      </div>
      <input type="text" name="special-offer-price-includes" id="special-offer-price-includes" class="form-control"
             th:name="priceIncludes"
             th:field="*{priceIncludes}"
             th:errorclass="bg-danger"/>
      <small th:if="${#fields.hasErrors('priceIncludes')}"
             th:errors="*{priceIncludes}" class="text-danger">Price includes error message</small>
    </div>

    <div class="col-sm-12 form-group">
      <div class="col-sm-5">
        <label class="special-offer-price-not-includes" for="special-offer-price-not-includes">Price not includes: </label>
      </div>
      <input type="text" name="special-offer-price-not-includes" id="special-offer-price-not-includes" class="form-control"
             th:name="priceNotIncludes"
             th:field="*{priceNotIncludes}"
             th:errorclass="bg-danger"/>
      <small th:if="${#fields.hasErrors('priceNotIncludes')}"
             th:errors="*{priceNotIncludes}" class="text-danger">Price not includes error message</small>
    </div>

    <div class="col-sm-12 form-group">
      <div class="col-sm-5">
        <label class="special-offer-required-documents" for="special-offer-required-documents">Required documents: </label>
      </div>
      <input type="text" name="special-offer-required-documents" id="special-offer-required-documents" class="form-control"
             th:name="requiredDocuments"
             th:field="*{requiredDocuments}"
             th:errorclass="bg-danger"/>
      <small th:if="${#fields.hasErrors('requiredDocuments')}"
             th:errors="*{requiredDocuments}" class="text-danger">Required documents error message</small>
    </div>

    <div class="col-sm-12 form-group">
      <div class="col-sm-5">
        <label class="special-offer-method-of-payment" for="special-offer-method-of-payment">Method of payment: </label>
      </div>
      <input type="text" name="special-offer-method-of-payment" id="special-offer-method-of-payment" class="form-control"
             th:name="methodOfPayment"
             th:field="*{methodOfPayment}"
             th:errorclass="bg-danger"/>
      <small th:if="${#fields.hasErrors('methodOfPayment')}"
             th:errors="*{methodOfPayment}" class="text-danger">Method of payment error message</small>
    </div>

    <div class="col-sm-12 form-group">
      <div class="col-sm-5">
        <label class="special-offer-min-number-of-tourists" for="special-offer-min-number-of-tourists">Minimum number of tourists: </label>
      </div>
      <input type="text" name="special-offer-min-number-of-tourists" id="special-offer-min-number-of-tourists" class="form-control"
             th:name="minNumberOfTourists"
             th:field="*{minNumberOfTourists}"
             th:errorclass="bg-danger"/>
      <small th:if="${#fields.hasErrors('minNumberOfTourists')}"
             th:errors="*{minNumberOfTourists}" class="text-danger">Min number of tourists error message</small>
    </div>

    <div class="col-sm-12 form-group">
      <div class="col-sm-5">
        <label class="special-offer-type-of-transport" for="special-offer-type-of-transport">Type of transport: </label>
      </div>
      <input type="text" name="special-offer-type-of-transport" id="special-offer-type-of-transport" class="form-control"
             th:name="typeOfTransport"
             th:field="*{typeOfTransport}"
             th:errorclass="bg-danger"/>
      <small th:if="${#fields.hasErrors('typeOfTransport')}"
             th:errors="*{typeOfTransport}" class="text-danger">Type of transport error message</small>
    </div>

    <div class="col-sm-12 form-group">
      <div class="col-sm-5">
        <label class="special-offer-duration" for="special-offer-duration">Duration: </label>
      </div>
      <input type="text" name="special-offer-duration" id="special-offer-duration" class="form-control"
             th:name="duration"
             th:field="*{duration}"
             th:errorclass="bg-danger"/>
      <small th:if="${#fields.hasErrors('duration')}"
             th:errors="*{duration}" class="text-danger">Duration error message</small>
    </div>

    <div class="col-sm-12 form-group">
      <div class="col-sm-5">
        <label class="special-offer-date" for="special-offer-date">Date: </label>
      </div>
      <input type="date" name="special-offer-date" id="special-offer-date" class="form-control"
             th:name="date"
             th:field="*{date}"
             th:errorclass="bg-danger"/>
      <small th:if="${#fields.hasErrors('date')}"
             th:errors="*{date}" class="text-danger">Date error message</small>
    </div>

    <div class="col-sm-12 form-group">
      <div class="col-sm-5">
        <label class="special-offer-seasonal-destination" for="special-offer-seasonal-destination">Destination: </label>
      </div>
      <select th:field="*{seasonalDestination.id}" id="special-offer-seasonal-destination" name="special-offer-seasonal-destination" class="form-control">
        <option th:value="null">SELECT</option>
        <option th:each="seasonalDestination: ${seasonalDestinations}" th:value="${seasonalDestination.id}" th:text="${seasonalDestination.title}"></option>
      </select>
    </div>

    <div class="col-sm-12">
      <p class="text-label">Image: </p>
    </div>
    <div class="col-sm-12 form-group">
      <div class="col-sm-5 control-fileupload">
        <label for="file"></label>
      </div>
      <input type="file" name="file" id="file" accept="image/*"
             th:name="specialOfferImage"
             th:field="*{specialOfferImage}"/>
      <small th:if="${#fields.hasErrors('specialOfferImage')}"
             th:errors="*{specialOfferImage}" class="text-danger">Image error message</small>
    </div>

    <div class="col-sm-12 text-center">
      <button type="submit" class="btn add-special-offer-button">Add</button>
    </div>

  </form>
</section>


<!--END SPECIAL OFFER ADD SECTION-->

<!--FOOTER SECTION -->
<footer th:replace="~{fragments/commons::footer}"></footer>
<!-- END FOOTER SECTION -->

</body>
</html>