<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>

<!-- NAV SECTION -->
<header th:replace="~{fragments/commons::header}"></header>
<!--END NAV SECTION -->

<!--OFFERS SECTION-->
<section  id="special-offers-sec">
  <div class="container">

    <div class="row">
      <div th:each="specialOffer : ${viewSpecialOffers.specialOffers}" class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <img th:src="@{'/images/' + ${specialOffer.url}}" class="img-responsive" src="">
            <a th:href="@{/special-offer-details/{id}(id=${specialOffer.getId()})}" th:text="${specialOffer.title}" class="link-dark"></a>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
<!--END OFFERS SECTION-->

<!--FOOTER SECTION -->
<footer th:replace="~{fragments/commons::footer}"></footer>
<!-- END FOOTER SECTION -->

</body>
</html>