<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>

<!-- NAV SECTION -->
<header th:replace="~{fragments/commons::header}"></header>
<!--END NAV SECTION -->

<!--SPECIAL OFFER DETAILS SECTION -->
<section class="special-offer-details-sec">
<div class="container">

    <div class="row">
        <div class="col-sm-8">

            <div>
                <img class="img-responsive" th:src="@{'/images/' + ${specialOfferDto.url}}">
            </div>

            <div class="text-start">
                <h3 th:text="${specialOfferDto.title}">Title</h3>
                <p  th:text="${specialOfferDto.info}" style="line-height: 20px">Info</p>
            </div>

            <div class="text-start">
                <h4 style="color:#6f42c1;">Program:</h4>
                <p  th:text="${specialOfferDto.program}" style="line-height: 20px"></p>
            </div>

            <div class="text-start">
                <h4 style="color:#6f42c1;">Price:</h4>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody class="text-nowrap">
                        <tr>
                            <th class="warning bold-italic col-sm-2" scope="row">from </th>
                            <th th:text="${specialOfferDto.price} + ' BGN'" class="warning bold-italic col-sm-2" scope="row"></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="text-start">
                <h4 style="color:#6f42c1;">The package price is in BGN per person and includes: </h4>
                <ul th:each="item: ${priceIncludesInfoPoints}" class="list-style-type: disc">
                    <li th:text="${item}"><div class="item"></div></li>
                </ul>
            </div>

            <div class="text-start">
                <h4 style="color:#6f42c1;">The price does not include:</h4>
                <ul th:each="item: ${priceNotIncludesInfoPoints}" class="list-style-type: disc">
                    <li th:text="${item}"><div class="item"></div></li>
                </ul>
                <br/>
            </div>

            <div class="text-start">
                <strong><u>Required documents: </u></strong>
                <p th:text="${specialOfferDto.requiredDocuments}" style="line-height: 20px">
                    <br/>
                </p>

                <strong><u>Method of payment: </u></strong>
                <p th:text="${specialOfferDto.methodOfPayment}" style="line-height: 20px">
                    <br/>
                </p>

                <strong><u>Minimum number of tourists to make the trip: </u></strong>
                <p th:text="${specialOfferDto.minNumberOfTourists}" style="line-height: 20px">
                    <br/>
                </p>
            </div>
        </div>


        <div class="col-sm-4">
            <p class="p-favor">0 Likes
                <button type="button" class="btn btn-danger btn-circle btn-lg"><i class="glyphicon glyphicon-heart"></i></button>
            </p>

            <div class="text-start p-info">
                <p th:text="${specialOfferDto.typeOfTransport}" style="line-height: 20px">
                    <strong><i class="fa fa-plane"></i> Type of transport: </strong>
                    <br/>
                </p>

                <p th:text="${specialOfferDto.duration}" style="line-height: 20px">
                    <strong><i class="fa fa-clock-o"></i> Duration: </strong>
                    <br/>
                </p>

                <p th:text="${specialOfferDto.date}" style="line-height: 20px">
                    <strong><i class="fa fa-calendar"></i> Dates: </strong>
                    <br/>
                </p>
            </div>
        </div>

    </div>
</div>
</section>
<!-- END OFFER DETAILS SECTION -->






<!-- END SPECIAL OFFER DETAILS SECTION -->

<!--FOOTER SECTION -->
<footer th:replace="~{fragments/commons::footer}"></footer>
<!-- END FOOTER SECTION -->

</body>
</html>